.images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

img {
  width: auto;
  height: 70vh;
}


@media (max-device-width:700px) {
  .images-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 25vh;
    height: auto;
  }
}