body {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

@media (max-width:700px) {
    .images {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    img.displayed {
        width: 100%;
        height: auto;
    }
}