.text {
  padding: 10px;
  margin: 10px;
}

#mainPh {
  width: 160px;
  float: left;
  margin: 10px;
}

@media (max-device-width:700px) {
  body {
    font-size: 11px;
  }
}

.button {
  font-family: 'CutOutOFFont';
  margin: auto;
  background-color: #ff69b4;
  border: none;
  color: rgb(32, 32, 32);
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: #ff3d9e;
}

.button:active {
  background-color: #f71385;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.button-wrapper {
  display: flex;
  text-align: center;
}

#photo {
  margin-top: 10px;
  padding-top: 10px;
}

.grid-container {
  text-align: center;
}

.image-grid {
  display: inline-block;
  text-align: center;
  position: relative;
  break-inside: avoid;
  width: 300px;
  height: 450px; 
  padding: 10px;
  margin: 10px;
}

.image-grid {
  grid-row-end: span 1;
  overflow: hidden;
}

.image-grid img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width:858px) {
  .image-grid {
    position: relative;
    break-inside: avoid;
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
  }

}