body {
    font-family: 'Viaoda Libre', serif;
    color: black;
    font-size: medium;
    font-style: normal;
}
#mainPh {
  width: 12%;
  float: left;
  margin: 5px 50px 10px 10px;
}
.button-wrapper {
  display: flex;
  align-items: center;
}
.button {
  margin: auto;
  background-color: #e599f6;
}
  .grid-container {
  display: grid;
  grid-gap: 5px;
}

.image-grid {
  position: relative;
  break-inside: avoid;
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
}

.image-grid {
  grid-row-end: span 1;
  overflow: hidden;
} 

.image-grid img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.image-grid:hover img {
  transform: scale(1.05);
} 










/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
  grid-auto-rows: auto;
  grid-gap: 5px;
}

.image-grid {
  flex-grow: 1;
  flex-basis: 0
  overflow: hidden;
}

.image-grid {
  grid-row-end: span 1;
}

.image-grid img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.image-grid:hover img {
  transform: scale(1.05);
}





